
#main-head {
  text-align: center;
  padding-top: 20px;
}

#main-text {
  text-align: center;
}

.column {
  text-align: center;
}

#skills-header {
  text-align: center;
  font-size: 25px; 
}
#project-header {
  text-align: center;
  margin-top: 40px;
}

#supp-text {
  text-align: center;
}

#all-cards {
  justify-content: center;
}

.table {
  overflow-x: auto; 
  margin: 0 auto;
}

#gh-logo {
  width: 100px;
  height: 40px;
}

#bulma-logo {
  width: 160px;
  height: 30px;
}

.footer {
  padding-bottom: 3px;
  padding-top: 11px;
}

#linkedin-logo {
  margin-top: 5px;
}

#skills-text {
  text-align: center;
  width: 330px;
  margin: 0 auto;
  padding-top: 5px;
}

#laptop-img {
  width: 70px;
  height: 70px;
}

#nav-item {
  margin-bottom: 22px;
  justify-content: center;
  border-bottom: none;
}

.nav-a {
  width: 145px;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  background: 
  url('https://i.imgur.com/LovGaJC.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ContentContainer {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

.hero {
  width: 100%;
}

#about-box {
  margin-top: -50px;
}

.Content {
  padding-top: 1px;
}

.title {
  padding-bottom: 12px;
}

.tabs {
  background-color: #FAFAFA;
  border-bottom: 3px solid black;
}

#about-title {
  display: inline;
  padding-bottom: 0px;
}

#hero-text {
  max-width: 510px;
  margin: auto;
}

#top-section {
  width: 100%;
}

#top-section-header {
  margin-top: 30px;
}

#footer-icons {
  justify-content: center;
  padding-top:  5px;
}

.code-icon {
  padding: 20px;
}

#tech-text {
  display: inline;
}

.tech-columns {
  max-width: 160px;
}

#tech-columns-center { 
  justify-content: center;
  padding-top: 5px;
}

#my-image {
  border-radius: 50%;
  height: 125px;
  width: 125px;
}