#main-head {
  text-align: center;
  padding-top: 20px;
}

#main-text {
  text-align: center;
}

.column {
  text-align: center;
}

#project-header, #skills-header {
  text-align: center;
  font-size: 25px; 
}

#supp-store, #game-it, #strongr-app, #blackjack {
  width: 500px;
  height: 380px;
  margin: 10px;
  border-radius: 10px;
}

#supp-text {
  text-align: center;
}

#all-cards {
  justify-content: center;
}

#blackjack-img {
  width: 425px;
  height: 220px;
}

.table {
  overflow-x: auto; 
  margin: 0 auto;
}

#gh-logo {
  width: 100px;
  height: 40px;
}

#bulma-logo {
  width: 160px;
  height: 30px;
}

.footer {
  height: 10px;
}

#linkedin-logo {
  margin-top: 5px;
}

#skills-text {
  text-align: center;
  width: 330px;
  margin: 0 auto
}

#laptop-img {
  width: 70px;
  height: 70px;
}